# Telegram
TELEGRAM_BOT_TOKEN=your-bot-token-here
BOT_USERNAME=StarkSenseibot

# Starknet AI API
AI_API_BASE_URL=https://backend.agent.starknet.id
AI_API_WS_URL=wss://backend.agent.starknet.id/

# Optional: Specific model configuration
CHAT_MODEL=Claude 3.5 Sonnet
CHAT_MODEL_PROVIDER=anthropic
EMBEDDING_MODEL=Text embedding 3 large
EMBEDDING_MODEL_PROVIDER=openai

# Supabase
SUPABASE_URL=https://pachdhewoyjvgqkeyyvq.supabase.co
SUPABASE_SERVICE_KEY=your-key

# Optional
ENVIRONMENT=development
